@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root{
  --primary-white: #fff;
  --primary-dark: rgba(255,255,255,0);
  --primary-blue: #7488e4;
  --primary-orange: rgb(233, 222, 77);
  --primary-youngblue: rgb(65, 101, 218);
}

body{
  font-family: "Roboto Condesed" sans-serif;
}

/*****************NAVBAR******************/
.logo{
  width: 10.25rem;
}

nav a.nav-link{
  font-weight: 500;
  letter-spacing: 0.6;
  cursor: pointer;
  font-size: 0.8rem;
}

nav ul li{
  text-transform: uppercase;
}

a.navbar-brand{
  margin-right: 5%;
  margin-top: 7px;
  margin-bottom: 7px;
}

.navbar-nav > li > a {
  color: var(--primary-white) !important;
  margin-left: 30px;
  border-top: 3px solid var(--primary-dark);
  border-bottom: 3px solid var(--primary-dark);
}

button.navbar-toggler:focus, button.navbar-toggler:hover{
  border: 2px solid var(--primary-blue);
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus{
  border-top: 3px solid var(--primary-blue);
  border-bottom: 3px solid var(--primary-blue);
}

.navbar-nav > li > a:hover{
  border-top: 3px solid var(--primary-blue);
  border-bottom: 3px solid var(--primary-blue);
}

.row .search {
  width: 25%;
  border: none;
}